<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cuenta — Banka Online 4</title>
  <link rel="shortcut icon" href="/view/img/logo.PNG" />
  <link href="/view/css/style_cuenta.css" rel="stylesheet" type="text/css" />

  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>

  <script src="https://kit.fontawesome.com/d728b6004c.js" crossorigin="anonymous"></script>

</head>

<body ng-app="miApp">

  <header ng-controller="miControlador" ng-init="loggedVerify()">
  </header>

  <!-- Datos -->
  <section ng-controller="datoscliente">
    <div ng-init="datoscliente()" ng-show="datosClienteCarta">
      <section class="secciontarjeta">
        <div class="tarjeta">
          <div class="infocliete">
            <div class="profile-card js-profile-card">
              <div class="tipo" ng-show="tipoMostrar">{{tipo}}</div>
              <i class="fa-solid fa-user-pen icono" ng-click="modificarUsuario('1')"></i>
              <div class="profile-card__img">
                <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="profile card">
              </div>
              <div class="texto" *ngFor="#infocuenta of infocuenta">
                <p>{{infocuenta["nombre"]}}</p>
                <p>{{infocuenta["dniCliente"]}}</p> 
              </div>



              <div class="botones">
                <a href="formIngrRet.html">
                  <button class="custom-btn btn-cuenta" ng-click="ingresarretirar(0)">
                    INGRESAR
                  </button>
                </a>
                <a href="formIngrRet.html">
                  <button class="custom-btn btn-cuenta" ng-click="ingresarretirar(1)">
                    RETIRAR
                  </button>
                </a>
                <a href="transferencia.html">
                  <button class="custom-btn btn-cuenta">
                    TRANSFERENCIA
                  </button>
                </a>
              </div>
            </div>
          </div>


    <!---  Cuentas corrientes --->
            <div class="cuentacorriente">
              <div class="datoscorriente" ng-repeat="infocuenta in infocuenta.objCuenta">
                <div>
                  {{infocuenta.iban}} - {{infocuenta.saldo | currency}}
                </div>
                <div>
                  <i class="fa-solid fa-money-bill-transfer fa-fade"  ng-click="movimientos(infocuenta.iban, 'vacio')" style="--fa-animation-duration: 2s; --fa-fade-opacity:0.65; --fa-animation-delay:1s" ng-click="modificarUsuario('2')"></i> 
                </div>
              </div>
            </div>
      </section>



      <!--Modal modificar usuario-->
      <div id="demo-modal1" class="modal">

        <div class="modal__content">
          <form>
            Modificar contraseña
            <div class="form__group field">

              <input type="password" class="form__field" ng-model="passanti" placeholder="passanti" name="passanti"
                id='passanti' required />
              <label for="passanti" class="form__label">Contraseña antigua</label>
            </div>

            <div class="form__group field">
              <input type="password" class="form__field" ng-model="passModificar" placeholder="Contrasena"
                name="passModificar" id='contrasenaModificar' required />
              <label type="text" for="password" class="form__label">Contraseña Nueva</label>
            </div>
            <div class="form__group field">
              <input type="password" class="form__field" ng-model="veriModificar" placeholder="veriModificar"
                name="veriModificar" id='veriModificar' required />
              <label for="veriModificar" class="form__label">Verificar Contraseña</label>
            </div>
            <br>
            <div class="tiposDeErroresIz" ng-model="errores">{{errores}}</div>

            <button ng-click="guardarPassword(item)" class="button-23">Guardar Modificaciones</button>
            <a ng-click="cerrarCuentas('1')" class="modal__close">&times;</a>
          </form>
        </div>
      </div>
    </div>

    <!-- 
    ///////////////////////
    // Tabla movimientos //
    /////////////////////// 
    -->

    <!--Filtros-->
    <div ng-show="tablaMostrar" class="tablaMostrar">
      <div class="conjuntoFiltro">
        <div class="inputGroupTabla">
          <input id="radio1" name="radio" type="radio" ng-click="movimientos('vacio', 'Ingresar')"/>
          <label for="radio1">Ingresos</label>
        </div>
        <div class="inputGroupTabla">
          <input id="radio2" name="radio" type="radio" ng-click="movimientos('vacio', 'Retirar')"/>
          <label for="radio2">Retiros</label>
        </div>
        <div class="inputGroupTabla">
          <input id="radio3" name="radio" type="radio" ng-click="movimientos('vacio', 'Transferencia')"/>
          <label for="radio3">Transferencias</label>
        </div>
        <div>
          <button class="botonEliminarFiltro" ng-click="uncheckAll()"><i class="fa-solid fa-filter-circle-xmark fa-xl"></i></button>
        </div>
      </div>

      <!--// Tabla movimientos //-->
      <section class="wrapper">
        <div class="contenido2">
          <!-- Titulos tabla -->
            <main class="rowMov title">
              <ul>
                <li></li>
                <li>TIPO</li>
                <li>FECHA</li>
                <li>IMPORTE</li>
                <li>IBAN</li>
              </ul>
            </main>
            <!-- Columnas datos -->
            <article class="rowMov {{movimiento.claseMovimiento}} letraBlack" ng-repeat="movimiento in ListaMovimientos">
              <ul>
                <li><a href="#"><i class="{{movimiento.tipoMovimientoIcon}}"></i></a></li>
                <li>{{movimiento.tipoMovimiento}}</li>
                <li>{{movimiento.fecha}}</li>
                <li>{{movimiento.cantidad}}</li>
                <li>{{movimiento.iban}}</li>
              </ul>
              <ul class="more-content">
                <li>{{movimiento.mensaje}}</li>
              </ul>
            </article>
          </div>
      </section>
    </div>

    <div ng-show="botonAtras" class="contenedorBoton">
      <input class="botonRegresarMovimientos" type="button" value="« Atrás «" ng-click="verCartaCuenta()">
    </div>

  <!--FOOTER-->
  <!-- Site footer -->
  <footer class="site-footer">

  </footer>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
    integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/view/js/angular-locale_de-de.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="/view/js/cuenta.js" type="text/javascript"></script>
  <script src="/view/js/nav.js" type="text/javascript"></script>

</body>

</html>