<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/view/img/logo.PNG" />
    <link href="/view/css/style_cuenta.css" rel="stylesheet" type="text/css" />
    
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
    
    <script src="https://kit.fontawesome.com/d728b6004c.js" crossorigin="anonymous"></script>

</head>

<body ng-app="miApp">
<header ng-controller="miControlador" ng-init="loggedVerify()">
</header>



    <!-- Datos -->
    <section ng-controller="datoscliente">
      <div ng-init="datoscliente()" ng-show="datosClienteCarta">
        <section class="secciontarjeta">
          <div class="tarjeta">
            <div class="infocliete">
              <div class="profile-card js-profile-card">
                <div class="tipo">{{tipo}}</div>
                <i class="fa-solid fa-user-pen icono" ng-click="modificarUsuario('1')"></i>
                <div class="profile-card__img">
                  <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="profile card">
                </div>
                <div class="texto" *ngFor="#infocuenta of infocuenta">
                  <p>{{infocuenta["nombre"]}}</p>
                  {{infocuenta["dniCliente"]}} -
                  {{infocuenta["secreto"]}}
                </div>



                <div class="botones">
                  <a href="formIngrRet.html">
                    <button class="custom-btn btn-cuenta" ng-click="ingresarretirar(0)">
                      INGRESAR
                    </button>
                  </a>
                  <a href="formIngrRet.html">
                    <button class="custom-btn btn-cuenta" ng-click="ingresarretirar(1)">
                      RETIRAR
                    </button>
                  </a>
                  <a href="transferencia.html">
                    <button class="custom-btn btn-cuenta">
                      TRANSFERENCIA
                    </button>
                  </a>
                </div>
              </div>
            </div>


            <div class="cuentacorriente">
              <div class="datoscorriente" ng-repeat="infocuenta in infocuenta.objCuenta">
                <div>
                  {{infocuenta.iban}} - {{infocuenta.saldo | currency}}
                </div>
                <div>
                  <i class="fa-solid fa-money-bill-transfer fa-fade"  ng-click="movimientos(infocuenta.iban)" style="--fa-animation-duration: 2s; --fa-fade-opacity:0.65; --fa-animation-delay:1s" ng-click="modificarUsuario('2')"></i> 
                </div>
              </div>
        </section>





        <!--Modal modificar usuario-->
        <div id="demo-modal1" class="modal">

          <div class="modal__content">
            <form>

              Modificar contraseña
              <div class="form__group field">

                <input type="password" class="form__field" ng-model="passanti" placeholder="passanti" name="passanti"
                  id='passanti' required />
                <label for="passanti" class="form__label">Contraseña antigua</label>
              </div>
              <div class="form__group field">
                <input type="password" class="form__field" ng-model="passModificar" placeholder="Contrasena"
                  name="passModificar" id='contrasenaModificar' required />
                <label type="text" for="password" class="form__label">Contraseña Nueva</label>
              </div>
              <div class="form__group field">
                <input type="password" class="form__field" ng-model="veriModificar" placeholder="veriModificar"
                  name="veriModificar" id='veriModificar' required />
                <label for="veriModificar" class="form__label">Verificar Contraseña</label>
              </div>
              <br>
              <div class="tiposDeErroresIz" ng-model="errores">{{errores}}</div>


              <button ng-click="guardarPassword(item)" class="button-23">Guardar Modificaciones</button>
              <a ng-click="cerrarCuentas('1')" class="modal__close">&times;</a>
            </form>
          </div>
        </div>
      </div>

      <!-- 
      ///////////////////////
      // Tabla movimientos //
      /////////////////////// 
      -->
      
      <button ng-click="verCartaCuenta()">Atras</button>
      <table border="1" ng-show="tablaMostrar">
        <tr ng-repeat="movimiento in ListaMovimientos">
          <td><i class="{{movimiento.tipoMovimiento}}"></i></td>
          <td>{{movimiento.iban}}</td>
          <td>{{movimiento.fecha}}</td>
          <td>{{movimiento.cantidad}}</td>
          <td>{{movimiento.tipoMovimiento}}</td>
        </tr>
      </table>

  </section>    

  <!--FOOTER-->
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="columnas">
          <h6>DESTACADOS</h6>
          <ul class="footer-links">
            <li><a href="#">Calcular Prestamo Simple</a></li>
            <li><a href="#">Calcular Prestamo Francés</a></li>
            <li><a href="#">Calcular Prestamo Lineal</a></li>
            <li><a href="#">Calcular Prestamo Americano</a></li>
            <li><a href="#">Cuenta Online</a></li>
            <li><a href="#">Horarios</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li><a href="#">Zornotza Agentes</a></li>
          </ul>
        </div>

        <div class="columnas">
          <h6>INFORMACIÓN LEGAL Y SEGURIDAD</h6>
          <ul class="footer-links">
            <li><a href="#">Aviso Legal</a></li>
            <li><a href="#">Politica de cookies</a></li>
            <li><a href="#">Anuncios</a></li>
            <li><a href="#">Ley de servicios de pago</a></li>
            <li><a href="#">Acessibilidad</a></li>
            <li><a href="#">Seguridad online</a></li>
            <li><a href="#">Reclamaciones</a></li>
            <li><a href="#">Pormociones</a></li>
          </ul>
        </div>

        <div class="columnas">
          <h6>WWBS FP ZORNOTZA</h6>
          <ul class="footer-links">
            <li><a href="#">Sobre Grupo 4</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Asistente</a></li>
            <li><a href="#">Consumidor</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
            <li><a href="#">Finanzas Personales</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row2">
        <div class="columnas">
          <p class="copyright-text">Copyright &copy;Grupo4 Zonortza 2022.</p>
          <a href="#">Todos los derechos reservados</a>.
        </div>

        <div class="columnas">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-twitter fa-2xl"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
    integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/view/js/angular-locale_de-de.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="/view/js/cuenta.js" type="text/javascript"></script>
  <script src="/view/js/nav.js" type="text/javascript"></script>

</body>

</html>