<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/view/img/logo.PNG"/>
      <link href="/view/css/style.css" rel="stylesheet" type="text/css" />
      <script src="/view/js/angular.min.js"></script>
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
      <script src="/view/js/jquery-1.11.3.min.js" type="text/javascript"></script>

</head>
<body ng-controller="miControl" >
<!--HEADER-->
<header ng-init="loggedVerify()">
    <div class="company-logo"><img src="/view/img/LogoZornotza.png" alt=""></div>
    <nav class="navbar">
      <ul class="nav-items">
        <li class="nav-item"><a href="/index.html" class="nav-link"> INICIO</a></li>
        <li class="nav-item"><a href="/view/html/paginaPrestamo.html" class="nav-link"> SIMULADOR</a></li>
        <li class="nav-item"><a href="#" class="nav-link">TIENDA</a></li>
        <li class="nav-item" ng-show="butonLogin"><a href="/view/html/login.html" class="nav-link">LOGIN</a></li>
        <li class="nav-item" ng-show="botonAdmin"><a href="/view/html/paginaAdmin.html" class="nav-link">ADMIN</a></li>
        <li class="nav-item" ng-show="cuentaUsuario"><a class="nav-link">CUENTA</a></li>
        <li class="nav-item" ng-show="butonLogOut"><a ng-click="logout()" class="nav-link">LOG OUT</a></li>
      </ul>
      
    </nav>
    <div class="menu-toggle">
      <i class="bx bx-menu"></i>
      <i class="bx bx-x"></i>
    </div>
  </header>
  

<br>
<h1 style="text-align: center;">Ingresar/Retirar</h1>
<br>

<section class="tablasDeCuentas">

  <h2>SELECCIONE SU CUENTA CORRIENTE</h2>

  <div class="contenidoTabla" >

    <div class="tarjetitas" ng-repeat='contenido in cuentas'>
      <table>
        <tr>
          <td class="colum1">
            IBAN:
          </td>
          <td class="colum2">
            {{contenido.iban}}
          </td>
        </tr>
        <tr>
          <td class="colum1">
            Saldo:
          </td>
          <td class="colum2">
            {{contenido.saldo}} €
          </td>
        </tr>
      </table>
      <input type="button" value="ELEGIR" class="botonesDeAceptar" ng-click="elegir($index,contenido)"></i>
    </div>
  </div>
</section>


<div ng-show="textoVer =='true'">
    <h2>Has elegido la cuenta con IBAN : <span id="ibanClick"></span></h2>

</div>

<form ng-show="formVer =='true'">
  <!-- <div>
    <select  ng-model="cuentas" ng-options="item.iban for item in ibans" ng-change="cambiar()">
      <option value="" >Seleccione la cuenta</option>
      <options ng-repeat="item for item in ibans"></options>
    </select>
  </div> -->
  <!-- <div ng-show="saldoVer =='true'">
    <h2>saldo = <span id="saldo"></span></h2>    
</div> -->
  <div>
      <select  ng-model="tipo" >
        <option value="" >Seleccione el tipo</option>
        <option value="ingresar">Ingresar</option>
        <option value="retirar">Retirar</option> 
      </select>
    </div>
    <div>
      <input type="text"  ng-model="cantidad" placeholder="cantidad" name="cantidad" id='cantidad' />
    </div>
    <div>
      <textarea  ng-model="concepto" placeholder="concepto" name="concepto" id='concepto'/></textarea>
    </div>
    <br>
    <input id="boton" type="button" value="Aceptar" ng-click="mover()">
  </form>
<br>
<br>
  <!--FOOTER-->
   <!-- Site footer -->
   <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="columnas">
            <h6>DESTACADOS</h6>
            <ul class="footer-links">
              <li><a href="#">Calcular Prestamo Simple</a></li>
              <li><a href="#">Calcular Prestamo Francés</a></li>
              <li><a href="#">Calcular Prestamo Lineal</a></li>
              <li><a href="#">Calcular Prestamo Americano</a></li>
              <li><a href="#">Cuenta Online</a></li>
              <li><a href="#">Horarios</a></li>
              <li><a href="#">Trabaja con nosotros</a></li>
              <li><a href="#">Zornotza Agentes</a></li>
            </ul>
          </div>

          <div class="columnas">
            <h6>INFORMACIÓN LEGAL Y SEGURIDAD</h6>
            <ul class="footer-links">
              <li><a href="#">Aviso Legal</a></li>
              <li><a href="#">Politica de cookies</a></li>
              <li><a href="#">Anuncios</a></li>
              <li><a href="#">Ley de servicios de pago</a></li>
              <li><a href="#">Acessibilidad</a></li>
              <li><a href="#">Seguridad online</a></li>
              <li><a href="#">Reclamaciones</a></li>
              <li><a href="#">Pormociones</a></li>
            </ul>
          </div>

          <div class="columnas">
            <h6>WWBS FP ZORNOTZA</h6>
            <ul class="footer-links">
              <li><a href="#">Sobre Grupo 4</a></li>
              <li><a href="#">Contacto</a></li>
              <li><a href="#">Asistente</a></li>
              <li><a href="#">Consumidor</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Politicas de Privacidad</a></li>
              <li><a href="#">Finanzas Personales</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row2">
          <div class="columnas">
            <p class="copyright-text">Copyright &copy;Grupo4 Zonortza 2022.</p>
            <a href="#">Todos los derechos reservados</a>.
          </div>

          <div class="columnas">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><img src="https://www.facebook.com/images/fb_icon_325x325.png" alt=""></a></li>
              <li><a class="twitter" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/800px-Twitter-logo.svg.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
  </footer>
<script src="/view/js/retirarIngresar.js"></script>
</body>
</html>