<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-------- | NO DE PROBLEMA RESCALADO MOVIL | -------->
    <title>Prueba de despliegue cPanel</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body ng-app="miApp" ng-controller="miControlador" ng-init="loggedVerify()">

<!--HEADER-->
<header>
    <div class="company-logo"><img src="/view/img/LogoZornotza.png" alt=""></div>
    <nav class="navbar">
      <ul class="nav-items">
        <li class="nav-item"><a href="/index.html" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="#" class="nav-link">OFFER</a></li>
        <li class="nav-item"><a href="#" class="nav-link">SHOP</a></li>
        <li class="nav-item" ng-show="butonLogin"><a href="/view/html/login.html" class="nav-link">LOGIN</a></li>
        <li class="nav-item" ng-show="botonAdmin"><a href="/view/html/paginaAdmin.html" class="nav-link">ADMIN</a></li>
        <li class="nav-item" ng-show="cuentaUsuario"><a class="nav-link">CUENTA</a></li>
        <li class="nav-item" ng-show="butonLogOut"><a ng-click="logout()" class="nav-link">LOG OUT</a></li>
      </ul>
      
    </nav>
    <div class="menu-toggle">
      <i class="bx bx-menu"></i>
      <i class="bx bx-x"></i>
    </div>
  </header>

     <section  ng-controller="miControlador" class="sectionlogin"  >    
        <div class="box" ng-show="iniciarSesionSection">
            <h2>Login</h2>
            <form>
            <div class="inputBox">
                <input type="text" ng-model="dniData">
                <label>DNI</label>
            </div>
            <div class="inputBox" ng-show="passMostrar">
                <input type="password" ng-model="pasahitzaData">
                <label>Contraseña</label>
            </div>
            <div class="inputBox" ng-show="codSecretoMostrar">
                <input type="password" ng-model="CodSecretoData">
                <label>Codigo Secreto</label>
            </div>
            <input type="submit" value="Submit" ng-click="comprobarDatosSesion()">
            </form>
            <button ng-show="butonLogOut" ng-click="logout()">LOG OUT</button>
        </div>
    </section> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../js/login.js" type="text/javascript"></script>
    <script src="../js/nav.js" type="text/javascript"></script>
</body>

</html>