<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/angular.min.js"></script>
    <title>Pagina Admin</title>
</head>
<body ng-controller="miController">
    <button ng-click="nuevoUsuario()">Añadir nuevo usuario</button>

    <div id="zonaInsertar" ng-show="insertarVista == 'true'">   
        <div class="wrapper">
          <h3>Insertar y Modificar</h3>
          <form action="#">
            <p>
              <label for="dni">DNI</label>
              <input type="text" ng-model="dniIns">
            </p>
            <p>
              <label for="nombre">Nombre Cliente</label>
              <input type="text" ng-model="nombreIns">
            </p>
            <p>
              <label for="contrasena">Contrasena</label>
              <input type="password" ng-model="contrsenaIns">
            </p>
            <p>
                <label for="contrasena2">Verificar Contrasena</label>
                <input type="password" ng-model="vefIns">
            </p>

            <button ng-click="nuevoCliente()">NUEVO</button>
            <button ng-click="guardarCliente()">Guardar Modificaciones</button>
            
          </form>
        </div>  
      </div>



    <table >
        <tr ng-repeat='fila in usuarios' >
            <td style="border: 2px solid;">{{fila.dniCliente}}</td>
            <td style="border: 2px solid;">{{fila.nombre}}</td>
            <td style="border: 2px solid;">{{fila.pasahitza}}</td>
            <td style="border: 2px solid;">{{fila.secreto}}</td>
            <td style="border: 2px solid;">{{fila.tipo}}</td>
            <td style="border: 2px solid;"><button ng-click="modificarUsuario($index,fila)">Modificar</button></td>
            <td style="border: 2px solid;"><button ng-click="borrarUsuario($index,fila)">Borrar</button></td>
        </tr>
    </table>
    <script src="../js/scriptAdmin.js"></script>
</body>
</html>
