<html ng-app="MyApp">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/view/img/logo.PNG" />

  <script src="/view/js/angular.min.js"></script>
  
  <link href="/view/css/style.css" rel="stylesheet" type="text/css" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
  
  <script src="https://kit.fontawesome.com/d728b6004c.js" crossorigin="anonymous"></script>
  <!-- JavaScript -->
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>

  <title>Pagina Prestamo</title>

</head>

<body ng-controller="miController" ng-init="loggedVerify()">
  <header>
  </header>

  <div class="form" ng-hide="ver =='true'">
    <div class="triplete1">
      <div>
        <label>Sistema de Amortización</label>
        <select ng-model="sistema" class="opcionesSimular" ng-init="sistema">
          <option value="Lineal">Lineal</option>
          <option value="Frances">Francés</option>
          <option value="Simple">Simple</option>
          <option value="Americano">Americano</option>
        </select>    
      </div>
      <div>
        <label>Duración </label>
        <select  id="" ng-model="duracion">
          <option value="" >Elige una opción</option>
          <option value="anos">Años</option>
        </select>
      </div>
      <div>
        <label>Cantidad  Años</label>
        <input type="text" ng-model="numero" class="number" id="cantidad">
      </div>
    </div>

    <div class="triplete2">
      <div>
        <label>Capital</label>
        <input type="text" ng-model="capital" class="number">
      </div>
      <div>
        <label>Periodo de pago de intereses</label>
        <select  id="periodoIntereses" ng-model="periodoPago">
          <option value="" >Elige una opción</option>
          <option value="12">Anual</option>
          <option value="6" ng-hide="sistema == 'Simple' || sistema == 'Americano'">Semestral </option>
          <option value="4" ng-hide="sistema == 'Simple' || sistema == 'Americano'">Cuatrimestral </option>
          <option value="1" ng-hide="sistema == 'Simple' || sistema == 'Americano'">Mensual</option>
        </select>
      </div>
      <div>
        <label >Tipo de Base Temporal</label>
        <select  id="tipoBase" ng-model="tipo">
          <option value="" >Elige una opción</option>
          <option value="12" >Anual</option>
          <option ng-show="periodoPago ==6">Semestral </option>
          <option ng-show="periodoPago ==4">Cuatrimestral </option>
          <option ng-show="periodoPago ==1">Mensual</option>
        </select>
      </div>
    </div>

    <div class="triplete3">
      <div>
        <label>Tasa de Interés %</label>
        <input type="text" ng-model="interes"  class="number">
      </div>
      <div>
        <label>Periodo de Carencia</label>
        <input type="text" ng-model="periodoCarencia" ng-disabled = "sistema == 'Simple' || sistema == 'Americano'" class="number">
      </div>
      <div>
        <label>GABEZIA</label>
        <select  id="gabezia" ng-model="gabezia" ng-disabled = "periodoCarencia ==0 || periodoCarencia ==null ">
          <option value="" >Elige una opción</option>
          <option value="int" >Parcial</option>
          <option value="totala">Totala </option>
        </select>
      </div>
    </div>
    <input id="botonCalcular" type="button" value="Calcular" ng-click="calcular()">
  </div>

  <div class="form" ng-show="ver =='true'">
    <div id="title"></div>
    <div class="tbl-content">
        <table>
          <tr>
            <th>Años</th>
            <th>Cuota</th>
            <th>Amortización</th>
            <th>Interes</th>
            <th>Amortización acumulada</th>
            <th>Pendiente</th>
          </tr>
          <tr ng-repeat='fila in periodo'>
            <td class="parte1tabla">{{fila.Aldiak}}</td>
            <td>{{fila.Kuota}} </td>
            <td>{{fila.Amortizazioa}} </td>
            <td>{{fila.Interesa}} </td>
            <td>{{fila.Metatua}} </td>
            <td>{{fila.Kapitala}} </td>
          </tr>
        </table>
    </div>
    <input id="regresarPrestamo" type="button" value="Regresar" ng-click="volver()">
  </div>


  <!--SITE FOOTER-->
  <footer class="site-footer">
   
  </footer>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="/view/js/nav.js" type="text/javascript"></script>
  <script src="/view/js/prestamo.js"></script>
</body>

</html>