<!DOCTYPE html>
<html ng-app="MyApp">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../js/angular.min.js"></script>
  <link href="../css/style_usuarios.css" rel="stylesheet" type="text/css" />
  <script src="https://kit.fontawesome.com/d728b6004c.js" crossorigin="anonymous"></script>
  <title>Pagina Admin</title>
</head>

<body ng-controller="miController" ng-init="loggedVerify()" ng-show="users">
  <header ng-controller="miControlador" ng-init="loggedVerify()">
    <div class="company-logo"><img src="/view/img/logo2.png" alt=""></div>
    <nav class="navbar">
      <ul class="nav-items">
        <li class="nav-item"><a href="/index.html" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="#" class="nav-link">OFFER</a></li>
        <li class="nav-item"><a href="#" class="nav-link">SHOP</a></li>
        <li class="nav-item" ng-show="butonLogin"><a href="/view/html/login.html" class="nav-link">LOGIN</a></li>
        <li class="nav-item" ng-show="botonAdmin"><a href="/view/html/paginaAdmin.html" class="nav-link">ADMIN</a></li>
        <li class="nav-item" ng-show="cuentaUsuario"><a class="nav-link">CUENTA</a></li>
        <li class="nav-item" ng-show="butonLogOut"><a ng-click="logout()" class="nav-link">LOG OUT</a></li>
      </ul>
      
    </nav>
    <div class="menu-toggle">
      <i class="bx bx-menu"></i>
      <i class="bx bx-x"></i>
    </div>
  </header>


  <!-- <div id="zonaModificar" ng-show="modificarVista == 'true'">

    <h3>Modificar</h3>
    <form action="#">
      <p>
        <label for="dni">DNI</label>
        <input type="text" ng-model="dniModificar" id="dniModificar">
      </p>
      <p>
        <label for="nombre">Nombre Cliente</label>
        <input type="text" ng-model="nombreModificar">
      </p>
      <p>
        <label for="contrasena">Contrasena</label>
        <input type="text" ng-model="contrasenaModificar">
      </p>
      <p>
        <label for="contrasena2">Verificar Contrasena</label>
        <input type="text" ng-model="vefModificar">
      </p>

      <button ng-click="guardarCliente(item)">Guardar Modificaciones</button>

    </form>
  </div> -->


  <section>
    <button ng-click="nuevoUsuario()" class="button-23">Añadir nuevo usuario</button>
    <div class="tbl-content">


      <div class="tarjetas" ng-repeat='fila in usuarios'>
        <table>

          <tr>
            <td class="columna1">
              Nombre:
            </td>
            <td class="columna2">
              {{fila.nombre}}
            </td>
          </tr>
          <tr>
            <td class="columna1">
              DNI:
            </td>
            <td class="columna2">
              {{fila.dniCliente}}
            </td>
          </tr>
          <tr>
            <td class="columna1">

              Clave:
            </td>
            <td class="columna2">
              {{fila.pasahitza}}
            </td>
          </tr>
          <tr>
            <td class="columna1">
              Codigo secreto:
            </td>
            <td class="columna2">
              {{fila.secreto}}
            </td>
          </tr>
          <tr>
            <td class="columna1">
              Tipo:
            </td>
            <td class="columna2">
              {{fila.tipo}}
          </tr>

          <tr>
            <td class="columna1">
              Cuenta corriente
            </td>
            <td class="columna2">
              <a ng-click="MostrarCuentas($index,fila)" class="icono info">Mas informacion</a>
            </td>
          </tr>

          <tr>
            <td class="columna1">
              Eliminar usuario
            </td>
            <td class="columna2">
              <i class="fa-solid fa-user-minus fa-1xl icono" ng-click="borrarUsuario($index,fila)"></i>
            </td>
          </tr>

          <tr>
            <td class="columna1">
              Modificar usuario
            </td>
            <td class="columna2">
              <i class="fa-solid fa-user-pen icono" ng-click="modificarUsuario($index,fila)"></i>
            </td>
          </tr>

          <tr>
            <td class="columna1">
              Nueva cuenta corriente
            </td>
            <td class="columna2">
              <i class="fa-solid fa-piggy-bank icono" ng-click="guardarCuenta(fila)"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>

    </div>
  </section>

  <div>




<!----------- | MODALES | ------------------>
    <div id="demo-modal1" class="modal">

      <div class="modal__content">

        <a ng-click="cerrarCuentas('1')" class="modal__close">&times;</a>
        
        
        <form>
          <div class="form__group field">
            <input type="input" class="form__field"   ng-model="dniIns"  placeholder="DNI" name="dni" id='dniIns' required />
            <label for="name"class="form__label">DNI</label>
          </div>
          <div class="form__group field">
            <input type="input" class="form__field" ng-model="nombreIns"  placeholder="Nombre" name="nombre" id='nombre2' required />
            <label for="name" class="form__label">Nombre</label>
          </div>
          <div class="form__group field">
            <input type="password" class="form__field"  ng-model="contrsenaIns" placeholder="Contrasena" name="contrasena" id='contrasena' required />
            <label for="password"  class="form__label">Contraseña</label>
          </div>
          <div class="form__group field">
            <input type="password" class="form__field" ng-model="vefIns"  placeholder="Contrasena2" name="contrasena2" id='contrasena2' required />
            <label for="contrasena2" class="form__label"  >Verificar Contrasena</label>
          </div>

          <div class="form__group field">
            <label for="select"class="form__label">Tipo</label>
            <select name="select"  class="form__field for_option" ng-model="tipoIns"  placeholder="Contrasena2">
              <option value="" disabled selected hidden>Seleccione el usuario</option>
              <option value="1">Admin</option>
              <option value="0" selected>Normal</option>
            </select>
          </div>
          
<br>
          <button ng-click="nuevoCliente()" class="button-23">Crear</button></p>
        </form>
      </div>
    </div>
  </div>

  <!--Modal modificar usuario-->
  <div id="demo-modal2" class="modal">

    <div class="modal__content">
        <form>
          <div class="form__group field">
            <input type="input" class="form__field"   ng-model="dniModificar"   placeholder="DNI" name="dni" id='dniModificar' required />
            <label for="name"class="form__label">DNI</label>
          </div>
          <div class="form__group field">
            <input type="input" class="form__field"  ng-model="nombreModificar"  placeholder="Nombre" name="nombreModificar" id='nombre' required />
            <label for="name" class="form__label">Nombre</label>
          </div>
          <div class="form__group field">
            <input type="password" class="form__field"  ng-model="contrasenaModificar" placeholder="Contrasena" name="contrasenaModificar" id='contrasenaModificar' required />
            <label type="text" for="password"  class="form__label">Contraseña</label>
          </div>
          <div class="form__group field">
            <input type="password" class="form__field" ng-model="vefModificar"  placeholder="Contrasena2" name="contrasena2" id='contrasena2Modificar' required />
            <label for="contrasena2" class="form__label"  >Verificar Contrasena</label>
          </div>
          <br>

       
          <button ng-click="guardarCliente(item)" class="button-23">Guardar Modificaciones</button>
          <a ng-click="cerrarCuentas('2')" class="modal__close">&times;</a>
        </form>
      </div>
    </div>
  </div> 

  <!-- Modal de cuentas corrientes -->
  <div id="demo-modal0" class="modal">
    <div class="modal__content">
      <div class="cuenta" ng-repeat='cuentas in cuenta'>
        <h4>{{cuentas.cuentaPos}}. Cuenta</h4>
        <p> Cuenta corriente: {{cuentas.iban}}</p>
        <p> DNI: {{cuentas.dniCliente}}</p>
        <p> Titular : {{cuentas.titular}}</p>
        <p> Saldo: {{cuentas.saldo}}</p>
        <button ng-click="borrarCuenta(cuentas)" class="button-23">Borrar cuenta</button>
        <br><br>
      </div>

      <a ng-click="cerrarCuentas('0')" class="modal__close">&times;</a>
    </div>
  </div>
  <script src="../js/scriptAdmin.js"></script>
  <script src="../js/nav.js" type="text/javascript"></script>
</body>

</html>