<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/view/js/angular.min.js"></script>

  <link href="/view/css/style.css" rel="stylesheet" type="text/css" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>

  <script src="https://kit.fontawesome.com/d728b6004c.js" crossorigin="anonymous"></script>

  <title>TRANSFERENCIA - FP ZORNOTZA GRUPO 4</title>

</head>


<body ng-controller="miController" ng-init="loggedVerify()">

  <!--HEADER-->
  <header>
    <div class="company-logo"><img src="/view/img/LogoZornotza.png" alt=""></div>
    <nav class="navbar">
      <ul class="nav-items">
        <li class="nav-item"><a href="/index.html" class="nav-link"> INICIO</a></li>
        <li class="nav-item"><a href="/view/html/paginaPrestamo.html" class="nav-link"> SIMULADOR</a></li>
 
        <li class="nav-item" ng-show="butonLogin"><a href="/view/html/login.html" class="nav-link">LOGIN</a></li>
        <li class="nav-item" ng-show="cuentaUsuario"><a class="nav-link">CUENTA</a></li>
        <li class="nav-item" ng-show="botonAdmin"><a href="/view/html/paginaAdmin.html" class="nav-link">ADMIN</a></li>
        <li class="nav-item" ng-show="butonLogOut"><a ng-click="logout()" class="nav-link">LOG OUT</a></li>
      </ul>

    </nav>
    <div class="menu-toggle">
      <i class="bx bx-menu"></i>
      <i class="bx bx-x"></i>
    </div>
  </header>


  <!-- Datos -->
  <br>


  <!--/////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
    ////////////////////  CUENTAS PERSONALES  ///////////////////
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
  -->
  <section class="tablasDeCuentas">
    <h1>TRANSFERENCIA</h1>

    <h2>SELECCIONE SU CUENTA CORRIENTE</h2>

    <div class="contenidoTabla" ng-show="TablaPersonales">

      <div class="tarjetitas" ng-repeat='contenido in cuentas'>
        <table>
          <tr>
            <td class="colum1">
              IBAN:
            </td>
            <td class="colum2">
              {{contenido.iban}}
            </td>
          </tr>

          <tr>
            <td class="colum1">
              Titular:
            </td>
            <td class="colum2">
              {{contenido.titular}}
            </td>
          </tr>

          <tr>
            <td class="colum1">
              Saldo:
            </td>
            <td class="colum2">
              {{contenido.saldo}} €
            </td>
          </tr>


        </table>
        <input type="button" value="ELEGIR" class="botonesDeAceptar" ng-click="EscogerPersonal($index,contenido)"></i>

      </div>
    </div>
  </section>



  <!--///////////////////////////////////////////////////////////
      /////////////////////////////////////////////////////////////
      ///////////  CUENTA A LA QUE TRANSFERIR SALDO  //////////////
      /////////////////////////////////////////////////////////////
      /////////////////////////////////////////////////////////////
    -->

  <div class="contenderDNI" ng-show="SeleccionT">
    <br>
    <h2>ELIJA DNI DEL RECEPTOR</h2>
    <br>
    <select name="CuentasNoPropias" id="FiltrarPorDNINoPersonales" ng-model="variosdni"
      ng-options="item as item.dniCliente for item in cuentasNoPersonales" ng-change="MostrarRestos()">
      <option value=""></option>
    </select>
  </div>




  <section class="tablasDeCuentas" ng-show="OtrasT">
    <h2>CUENTAS CORRIENTES A LAS QUE DESEA TRANSFERIR SALDO</h2>

    <div class="contenidoTabla">
      <div class="tarjetitas" ng-repeat='contenidoss in OtrasCuentas'>
        <table>
          <tr>
            <td class="colum1">
              IBAN:
            </td>
            <td class="colum2">
              {{contenidoss.iban}}
            </td>
          </tr>
        </table>
        <input type="button" value="ELEGIR" class="botonesDeAceptar" ng-click="modalIban($index,contenidoss); modal('1')">

      </div>
    </div>

  </section>




  <!--///////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
    /////////////////////////  MODAL  ///////////////////////////
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
  -->

  <div id="demo-modal1" class="modal">
    
    <div class="modal__content">
      <form>
        <a ng-click="cerrarCuentas('1')" class="modal__close">&times;</a>

        <div id="infomarcionNecesaria">
          <div class="seleccion">
            <label for="saldo">Saldo que desea transferir</label>
            <input name="saldo" type="text" ng-model="saldoT">
          </div>
      
          <div class="seleccion">
            <label for="concepto">Concepto</label>
            <input name="concepto" type="text" ng-model="conceptoT">
          </div>
           
        </div>

        <input type="button" value="ELEGIR" class="botonesDeAceptar" ng-click="transferir()"></i>


      </form>
    </div>
  </div>
  </div>







  <!--///////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
    ///////////////////////  FOOTER   ///////////////////////////
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
  -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="columnas">
          <h6>DESTACADOS</h6>
          <ul class="footer-links">
            <li><a href="#">Calcular Prestamo Simple</a></li>
            <li><a href="#">Calcular Prestamo Francés</a></li>
            <li><a href="#">Calcular Prestamo Lineal</a></li>
            <li><a href="#">Calcular Prestamo Americano</a></li>
            <li><a href="#">Cuenta Online</a></li>
            <li><a href="#">Horarios</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li><a href="#">Zornotza Agentes</a></li>
          </ul>
        </div>

        <div class="columnas">
          <h6>INFORMACIÓN LEGAL Y SEGURIDAD</h6>
          <ul class="footer-links">
            <li><a href="#">Aviso Legal</a></li>
            <li><a href="#">Politica de cookies</a></li>
            <li><a href="#">Anuncios</a></li>
            <li><a href="#">Ley de servicios de pago</a></li>
            <li><a href="#">Acessibilidad</a></li>
            <li><a href="#">Seguridad online</a></li>
            <li><a href="#">Reclamaciones</a></li>
            <li><a href="#">Pormociones</a></li>
          </ul>
        </div>

        <div class="columnas">
          <h6>WWBS FP ZORNOTZA</h6>
          <ul class="footer-links">
            <li><a href="#">Sobre Grupo 4</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Asistente</a></li>
            <li><a href="#">Consumidor</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Politicas de Privacidad</a></li>
            <li><a href="#">Finanzas Personales</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row2">
        <div class="columnas">
          <p class="copyright-text">Copyright &copy;Grupo4 Zonortza 2022.</p>
          <a href="#">Todos los derechos reservados</a>.
        </div>

        <div class="columnas">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa-brands fa-twitter fa-2xl"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>




  <script src="/view/js/transferencia.js" type="text/javascript"></script>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="/view/js/nav.js" type="text/javascript"></script>

</body>

</html>