<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/view/js/angular.min.js"></script>

  <link href="/view/css/style.css" rel="stylesheet" type="text/css" />
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

  <script src="https://kit.fontawesome.com/d728b6004c.js" crossorigin="anonymous"></script>

  <title>TRANSFERENCIA - FP ZORNOTZA GRUPO 4</title>

</head>


<body ng-controller="miController" ng-init="loggedVerify()">

  <!--HEADER-->
  <header>
  </header>


  <!-- Datos -->
  <br>

  <!--
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
    ////////////////////  CUENTAS PERSONALES  ///////////////////
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
    ng-repeat="contenido in cuentas"
  -->
  <section class="tablasDeCuentas">
    <h1>TRANSFERENCIA</h1>

    <h2>SELECCIONE SU CUENTA CORRIENTE</h2>

    <div class="contenidoTabla" ng-show="TablaPersonales">

      <div class="tarjetitas" ng-repeat='contenido in cuentas'>
        <table>
          <tr>
            <td class="colum1">
              IBAN:
            </td>
            <td class="colum2">
              {{contenido.iban}}
            </td>
          </tr>

          <tr>
            <td class="colum1">
              Titular:
            </td>
            <td class="colum2">
              {{contenido.titular}}
            </td>
          </tr>

          <tr>
            <td class="colum1">
              Saldo:
            </td>
            <td class="colum2">
              {{contenido.saldo | number }} €
            </td>
          </tr>


        </table>
        <a href="#FiltrarPorDNINoPersonales">
          <input type="button" value="ELEGIR" class="botonesDeAceptar" ng-click="EscogerPersonal($index,contenido)"></i>
        </a>

      </div>
    </div>
  </section>



  <!--
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
    ///////////  CUENTA A LA QUE TRANSFERIR SALDO  //////////////
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////  
  -->

  <div class="contenderDNI" ng-show="SeleccionT">
    <br>
    <h2>ELIJA DNI DEL RECEPTOR</h2>
    <br>
    <select name="CuentasNoPropias" id="FiltrarPorDNINoPersonales" ng-model="variosdni"
      ng-options="item as item.dniCliente for item in cuentasNoPersonales" ng-change="MostrarRestos()">
      <option value=""></option>
    </select>
  </div>




  <section class="tablasDeCuentas" ng-show="OtrasT">
    <h2>CUENTAS CORRIENTES A LAS QUE DESEA TRANSFERIR SALDO</h2>

    <div class="contenidoTabla">
      <div class="tarjetitas" ng-repeat='contenidoss in OtrasCuentas'>
        <table>
          <tr>
            <td class="colum1">
              IBAN:
            </td>
            <td class="colum2">
              {{contenidoss.iban}}
            </td>
          </tr>
        </table>
        <input type="button" value="ELEGIR" class="botonesDeAceptar" ng-click="modalIban($index,contenidoss); modal('1')">
      </div>
    </div>
  </section>




  <!--
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
    /////////////////////////  MODAL  ///////////////////////////
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
  -->
  <div id="demo-modal1" class="modal modalMovimientos">
    <div class="modal__content">
      <form>
        <a ng-click="cerrarCuentas('1')" class="modal__close">&times;</a>
        <div id="infomarcionNecesaria">
          <div class="seleccion">
            <label for="saldo">Saldo que desea transferir</label>
            <input name="saldo" type="text" ng-model="saldoT" id="saldoT">
          </div>

          <div class="seleccion">
            <label for="concepto">Concepto</label>
            <input name="concepto" type="text" ng-model="conceptoT">
          </div>
        </div>

        <div class="tiposDeErrores" ng-model="fallosVisibles">{{fallosVisibles}}</div>    
        <input type="button" value="ACEPTAR" class="botonesDeAceptar" ng-click="transferir()"></i>
      </form>
    </div>
  </div>


  <!--
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
    ///////////////////////  FOOTER   ///////////////////////////
    /////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////
  -->
  <footer class="site-footer"></footer>


  <script src="/view/js/transferencia.js" type="text/javascript"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="/view/js/nav.js" type="text/javascript"></script>
</body>

</html>