<html>

<head>
    <meta charset="UTF-8">
    <title>Prueba de despliegue cPanel</title>
</head>

<body ng-app="miApp">
    <section ng-controller="miControlador">

        <label for="nombre">Nombre</label>
        <input type="text" ng-model="izenaData">

            <br>
        <div ng-show="passMostrar">
            <label for="Contraseña">Contraseña</label>
            <input type="text" ng-model="pasahitzaData">
        </div>

        <br>
        <div ng-show="codSecretoMostrar">
            <label for="Contraseña">Codigo Secreto</label>
            <input type="text" ng-model="CodSecretoData">
        </div>

        <button ng-click="comprobarDatos()">Login</button>
    </section>



    <div>¿QUIENES SOMOS?</div>

    <div> 
        <h3>FINANCIACIONES...</h3>
        <div>
            <ul>
                <li>PRESTAMOS</li>
            </ul> 
        </div>
    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="view/js/index.js" type="text/javascript"></script>
</body>

</html>