
.secciontarjeta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: auto;
    font-family: Helvetica, sans-serif;

    .tarjeta {

        width: 70%;
        height: auto;
        display: flex;
        margin: 50px;
        
        @include glasscuenta();
        background-color: $color-principal;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            width: 600px;
        }


        .infocliete {
            padding: 5px;
            margin-right: 20px;
            width: 100%;
            font-size: 5vmin;
            @media screen and (max-width: 1200px) {
                width: auto;
                margin-right: 0;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 390px) {
                font-size: 8vmin;  
            }
            .icon {
                display: inline-block;
                width: 1em;
                height: 1em;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
            }

            .tipo {
                position: absolute;
                background-color: $color-terciario1;
                color: $color-blanco;
                font-size: large;
                text-align: center;
                margin-left: 10px;
                margin-top: 10px;
                display: table-cell;
                vertical-align: middle;
                padding: 10px;
            }

            .profile-card {
                width: 100%;
                height: 100%;
                margin: auto;
                background-color: $color-blanco-cuenta;
                box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
                position: relative;

                &__img {
                    width: 150px;
                    height: 150px;
                    margin-left: auto;
                    margin-right: auto;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    z-index: 4;
                    background-color: white;
                    box-shadow: 0px 5px 50px 0px $color-principal, 0px 0px 0px 7px $color-principal;

                    @media screen and (max-width: 576px) {
                        width: 120px;
                        height: 120px;
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                }

                .fa-user-pen {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    color: $color-principal;
                    font-size: 40px;
                }

                .texto {
                    text-align: center;

                }

                .botones {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    margin: 5% 0px 10% 0px;
                    
                    a{
                        margin: 10px;
                        
                    }
                    
                    .custom-btn {
                        width: 50vh;
                        height: 100px;
                        border: 2px solid $color-terciario1;
                        font-family: 'Lato', sans-serif;
                        font-size: 5vmin;   
                        background: transparent;
                        color: $color-negro;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        position: relative;
                        display: inline-block;
                        
                        
                    @media screen and (max-width: 390px) {
                        width: 40vh;
                        font-size: 8vmin;  
                    }}

                    .btn-cuenta {
                        font-weight: 50px;
                        overflow: hidden;
                        transition: all 0.3s ease;
                  
                        &:hover {
                            background: $color-principal ;
                            color: #fff;
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            display: inline-block;
                            top: -180px;
                            left: 0;
                            width: 30px;
                            height: 100%;
                            background-color: #fff;
                            animation: shiny-btn1 3s ease-in-out infinite;
                        }

                        &:active {
                            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
                                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                                inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
                        }
                    }

                    @-webkit-keyframes shiny-btn1 {
                        0% {
                            -webkit-transform: scale(0) rotate(45deg);
                            opacity: 0;
                        }

                        80% {
                            -webkit-transform: scale(0) rotate(45deg);
                            opacity: 0.5;
                        }

                        81% {
                            -webkit-transform: scale(4) rotate(45deg);
                            opacity: 1;
                        }

                        100% {
                            -webkit-transform: scale(50) rotate(45deg);
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .cuentacorriente {
            right: 0;
            height: 650px;
            width: 105%;
            overflow-x: auto;
            @media screen and (max-width: 1200px) {
                width: 100%;
                height: 560px;
            }

            .datoscorriente {
                padding: 5px;
                margin: 15px;
                margin-top:5px ;
                height: 60px;
                width: auto;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                @include glasscuenta();

                .fa-money-bill-transfer {
                    color: $color-terciario4;
                    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                    font-size: x-large;
                }

            }
        }
    }
}

// .tablaMovimientos {
//     width: 80%;
//     height: 417px;
//     margin: auto;
// 	tr {
// 		height: 80px;
// 	}
// }

//////////////////////
//////////////////////
//////////////////////
/* TablaMovimientos */
//////////////////////
//////////////////////
//////////////////////
.reti a, .ingr a, .tran a {text-decoration:none;transition: color 0.2s ease-out; color:black;}
.ingr a {color:$color-secundario;}
.ingr a:hover {color:darken($color-secundario, 20%);}
.reti a {color:$color-terciario1;}
.reti a:hover {color:darken($color-terciario1, 20%);}
.tran a {color:$color-terciario2;}
.tran a:hover {color:darken($color-terciario2, 20%);}

/* wrapper */
.wrapper {
  width:90%;
  max-width:1250px;
  margin:20px auto 100px auto;
  padding:0;
  background:$light-bg;
  color:rgb(255, 255, 255);
  overflow:hidden;
  position:relative;
}

/* lists */
.rowMov ul {
  margin:0;
  padding:0;
}
.rowMov ul li  {
  margin:0;
  font-size:16px;
  width:20%;
  font-weight:normal;
  list-style:none;
  display:inline-block;
	box-sizing:border-box;
  @media only screen and (max-width:767px) and (min-width:480px) {
    font-size:13px;
  }
  @media only screen and (max-width:479px) {
    font-size:13px;
  }
}

.title ul li {
  padding:15px 13px;
}
.rowMov ul li {
  padding:5px 10px;
}

/* rows */
.rowMov {
  padding:20px 0;
  height:30px;
  font-size:0;
  position:relative;
  overflow:hidden;
  transition:all 0.2s ease-out;
  border-top:1px solid darken($light-bg, 100%);
}
.rowMov:hover {
  background-color:lighten($dark-bg, 10%);
  height:65px;
  @media only screen and (max-width : 767px) {
    height:85px;
  }
  @media only screen and (max-width : 359px) {
    height:105px;
  }
}
.title {
  padding:25px 0 5px 0;
  height:45px;
  font-size:0;
  background-color:$color-terciario1;
  border-left:3px solid lighten($light-bg, 100%);
}

.title:hover {
    height:45px;
    background-color:$color-terciario1;
    border-left:3px solid lighten($light-bg, 100%);
  }

.title-hide {
  @media only screen and (max-width:767px) {
    display:none;
  }
}

.ingr {border-left:3px solid darken($color-secundario, 30%);}
.ingr:hover {border-left:3px solid $color-secundario;}
.reti {border-left:3px solid darken($color-terciario1, 30%)}
.reti:hover {border-left:3px solid $color-terciario1;}
.tran {border-left:3px solid darken($color-terciario2, 30%);}
.tran:hover {border-left:3px solid $color-terciario2;}

/* row one - fadeIn */
.row-fadeIn-wrapper {
  opacity:0;
  font-size:0;
  height:0;
  overflow:hidden;
  position:relative;
  transition:all 0.2s ease-out;
  animation:fadeIn 0.4s ease-out 2s 1 alternate;
  animation-fill-mode:forwards;
}
.row-fadeIn-wrapper:hover {
  height:35px;
  @media only screen and (max-width : 767px) {
    height:55px;
  }
  @media only screen and (max-width : 359px) {
    height:75px;
  }
}

.fadeIn {
  padding:20px 0;
  font-size:0;
  position:absolute;
  transition:all 0.2s ease-out;
  width:100%;
}
.fadeIn:hover {
  background-color:lighten($dark-bg, 10%);
}

/* row two - fadeOut */
.row-fadeOut-wrapper {
  font-size:0;
  overflow:hidden;
  position:relative;
  transition:all 0.2s ease-out;
  animation:fadeOut 0.4s ease-out 8s 1 alternate;
  animation-fill-mode:forwards;
  opacity:1;
  height:65px;
}
.row-fadeOut-wrapper:hover {
  height:100px;
}

/* update content */
.update-row {
  animation:update 0.5s ease-out 12s 1 alternate;
}
.update1 {
  position:absolute;
  top:25px;
  display:inline-block;
  opacity:1;
  animation:update1 1s ease-out 12s 1 alternate;
  animation-fill-mode:forwards;
}
.update2 {
  position:absolute;
  top:25px;
  display:inline-block;
  opacity:0;
  animation:update2 4s ease-out 13s 1 alternate;
  animation-fill-mode:forwards;
}

/* more content */
ul.more-content li {
  position:relative;
  top:22px;
  font-size:13px;
  margin:0;
  padding:10px 13px;
  display:block;
  height:50px;
  width:100%;
  color:darken($text,50%);
  @media only screen and (max-width:767px) {
    font-size:11px;
  }
}

/* small content */
.small {
  color:darken($text,60%);
  font-size:10px;
  padding:0 10px;
  margin:0;
  @media only screen and (max-width:767px) {
    display:none;
  }
}

/* keyframe animations */
@keyframes fadeIn {
  from {background:$light-bg;opacity:0;padding:0;}
  to {background:darken($light-bg,80%);opacity:1;padding:0 0 65px 0;}
}
@keyframes fadeOut {
  from {background:darken($light-bg,80%);opacity:1;height:65px;}
  to {background:$light-bg;opacity:0;height:0;}
}
@keyframes update {
  0% {background:darken($light-bg,80%);}
  50% {background:$light-bg;}
  100% {background:darken($light-bg,80%);}
}
@keyframes update1 {
  0% {opacity:0;}
  0% {opacity:1;}
  100% {opacity:0;}
}
@keyframes update2 {
  0% {opacity:0;color:$text;}
  20% {opacity:1;color:$green;}
  100% {opacity:1;color:$text;}
}