body{
  font-family: 'Lato', sans-serif;
}

.secciontarjeta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: auto;
    font-family: Helvetica, sans-serif;

    .tarjeta {
        width: 70%;
        height: auto;
        display: flex;
        margin: 50px;
        
        @include glasscuenta();
        background-color: $color-principal;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            width: 600px;
        }


        .infocliete {
            padding: 5px;
            margin-right: 20px;
            width: 100%;
            font-size: 5vmin;
            @media screen and (max-width: 1200px) {
                width: auto;
                margin-right: 0;
                margin-bottom: 10px;
            }
            @media screen and (max-width: 390px) {
                font-size: 8vmin;  
            }
            .icon {
                display: inline-block;
                width: 1em;
                height: 1em;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
            }

            .tipo {
                position: absolute;
                background-color: $color-terciario1;
                color: $color-blanco;
                font-size: large;
                text-align: center;
                margin-left: 10px;
                margin-top: 10px;
                display: table-cell;
                vertical-align: middle;
                padding: 10px;

                @media screen and (max-width: 415px) {
                  display: none; 
              }
            }

            .profile-card {
                width: 100%;
                height: 100%;
                margin: auto;
                background-color: $color-blanco-cuenta;
                box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
                position: relative;

                &__img {
                    width: 150px;
                    height: 150px;
                    margin-left: auto;
                    margin-right: auto;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    z-index: 4;
                    background-color: white;
                    box-shadow: 0px 5px 50px 0px $color-principal, 0px 0px 0px 7px $color-principal;

                    @media screen and (max-width: 576px) {
                        width: 120px;
                        height: 120px;
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                }

                .fa-user-pen {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    color: $color-principal;
                    font-size: 40px;
                    cursor: pointer;
                }

                .texto {
                    text-align: center;

                }

                .botones {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    margin: 5% 0px 10% 0px;
                    
                    a{
                        margin: 10px;
                        
                    }
                    
                    .custom-btn {
                        width: 50vh;
                        height: 100px;
                        border: 2px solid $color-terciario1;
                        font-family: 'Lato', sans-serif;
                        font-size: 5vmin;   
                        background: transparent;
                        color: $color-negro;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        position: relative;
                        display: inline-block;
                        
                        
                    @media screen and (max-width: 390px) {
                        width: 40vh;
                        font-size: 8vmin;  
                    }}

                    .btn-cuenta {
                        font-weight: 50px;
                        overflow: hidden;
                        transition: all 0.3s ease;
                  
                        &:hover {
                            background: $color-principal ;
                            color: #fff;
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            display: inline-block;
                            top: -180px;
                            left: 0;
                            width: 30px;
                            height: 100%;
                            background-color: #fff;
                            animation: shiny-btn1 3s ease-in-out infinite;
                        }

                        &:active {
                            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
                                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                                inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
                        }
                    }

                    @-webkit-keyframes shiny-btn1 {
                        0% {
                            -webkit-transform: scale(0) rotate(45deg);
                            opacity: 0;
                        }

                        80% {
                            -webkit-transform: scale(0) rotate(45deg);
                            opacity: 0.5;
                        }

                        81% {
                            -webkit-transform: scale(4) rotate(45deg);
                            opacity: 1;
                        }

                        100% {
                            -webkit-transform: scale(50) rotate(45deg);
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .cuentacorriente {
            font-weight: 600;
            right: 0;
            height: 650px;
            width: 105%;
            overflow-x: auto;
            @media screen and (max-width: 1200px) {
                width: 100%;
                height: 560px;
            }

            .datoscorriente {
                margin: 15px;
                margin-top:5px ;
                height: 60px;
                width: auto;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 5px 15px 5px 15px;
                align-items: center;
                @include glasscuenta();

                .fa-money-bill-transfer {
                    color: $color-terciario4;
                    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
                    font-size: x-large;
                    cursor: pointer;
                }

            }
        }
    }
}

.contenedorBoton{
  width: 100%;
  @include flexcenter;

  .botonRegresarMovimientos {
    width: 200px;
    cursor: pointer;
    background-color:$color-terciario1;
    color:$color-blanco;
    inline-size: 160px;
    font-size: 17px;
    font-weight: 600;
    line-height: 15px;
    padding: 11px 12px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(34 34 34 / 22%);
  }
}

//////////////////////
//////////////////////
//////////////////////
/* TablaMovimientos */
//////////////////////
//////////////////////
//////////////////////

.tablaMostrar{
  @include flexcenter;
  flex-direction: column;  
}



.reti a, .ingr a, .tran a {text-decoration:none;transition: color 0.2s ease-out;}
.ingr a {color:$color-secundario;}
.ingr a:hover {color:darken($color-secundario, 20%);}
.reti a {color:$color-terciario1;}
.reti a:hover {color:darken($color-terciario1, 20%);}
.tran a {color:$color-terciario3;}
.tran a:hover {color:darken($color-terciario3, 20%);}

/* wrapper */
.wrapper {
  width:90%;
  max-width:1250px;
  margin:20px auto 25px auto;
  padding:0;
  background:$light-bg;
  color:rgb(255, 255, 255);
  overflow:auto;
  position:relative;

  .letraBlack{
    color:$color-negro;
  }

  .contenido2{
    max-height: 550px;
    min-height: 450px;
    min-width: 1218px;
    border: 1px solid rgba(128, 128, 128, 0.329);
    overflow: auto;
  }
}

/* lists */
.rowMov ul {
  margin:0;
  padding:0;
}
.rowMov ul li  {
  margin:0;
  font-size:17px;
  width:20%;
  font-weight:500;
  list-style:none;
  display:inline-block;
	box-sizing:border-box;
  @media only screen and (max-width:767px) and (min-width:480px) {
    font-size:13px;
  }
  @media only screen and (max-width:479px) {
    font-size:13px;
  }
}

.title ul li {
  padding:15px 13px;
}
.rowMov ul li {
  padding:5px 10px;
}

/* rows */
.rowMov {
  padding:20px 0;
  height:30px;
  font-size:0;
  position:relative;
  overflow:hidden;
  transition:all 0.2s ease-out;
  border-top:1px solid darken($light-bg, 100%);
}
.rowMov:hover {
  background-color:lighten($dark-bg, 10%);
  height:65px;
  color:$color-blanco;
  @media only screen and (max-width : 767px) {
    height:85px;
  }
  @media only screen and (max-width : 359px) {
    height:105px;
  }
}
.title {
  padding:25px 0 5px 0;
  height:45px;
  font-size:0;
  background-color:$color-terciario1;
  border-left:3px solid lighten($light-bg, 100%);
}

.title:hover {
    height:45px;
    background-color:$color-terciario1;
    border-left:3px solid lighten($light-bg, 100%);
  }

.title-hide {
  @media only screen and (max-width:767px) {
    display:none;
  }
}

.ingr {border-left:3px solid darken($color-secundario, 30%);}
.ingr:hover {border-left:3px solid $color-secundario;}
.reti {border-left:3px solid darken($color-terciario1, 30%)}
.reti:hover {border-left:3px solid $color-terciario1;}
.tran {border-left:3px solid darken($color-terciario3, 30%);}
.tran:hover {border-left:3px solid $color-terciario3;}

/* more content */
ul.more-content li {
  position:relative;
  top:22px;
  font-size:13.5px;
  margin:0;
  padding:10px 13px;
  display:block;
  height:50px;
  width:100%;
  color:darken($text,50%);
  @media only screen and (max-width:767px) {
    font-size:11px;
  }
}

/* small content */
.small {
  color:darken($text,60%);
  font-size:10px;
  padding:0 10px;
  margin:0;
  @media only screen and (max-width:767px) {
    display:none;
  }
}

/* Filtros tabla movimientos */
.conjuntoFiltro {
  width: 130px;
  @include flexcenter;
  .inputGroupTabla {
    background-color: #fff; 
    display: block;
    width: 100%;
    margin: 10px 0;
    position: relative;

    label {
      border: 1px solid black;
      border-radius: 40px;
      padding: 12px 30px;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        content: '';
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }
}