body{
  font-family: 'Lato', sans-serif;
}

/* Tarjeta Cliente (Cuenta) */
.secciontarjeta {
    display: flex;
    justify-content: $centrar;
    margin-top: $pixeles_50;
    width: $auto;

    .tarjeta {
        width: 70%;
        height: $auto;
        display: flex;
        margin: $pixeles_50;
        
        @include glasscuenta();
        background-color: $color-principal;
        @media screen and (max-width: 1200px) {
            flex-direction: column;
            width: 600px;
        }


        .infocliete {
            padding: $pixeles_5;
            margin-right: $pixeles_20;
            width: 100%;
            font-size: 5vmin;
            @media screen and (max-width: 1200px) {
                width: $auto;
                margin-right: 0;
                margin-bottom: $pixeles_10;
            }
            @media screen and (max-width: 390px) {
                font-size: 8vmin;  
            }
            .icon {
                display: inline-block;
                width: 1em;
                height: 1em;
                stroke-width: 0;
                stroke: currentColor;
                fill: currentColor;
            }

            .tipo {
                position: absolute;
                background-color: $color-terciario1;
                color: $color-blanco;
                font-size: large;
                text-align: $centrar;
                margin-left: $pixeles_10;
                margin-top: $pixeles_10;
                display: table-cell;
                vertical-align: middle;
                padding: $pixeles_10;

                @media screen and (max-width: 415px) {
                  display: $vaciar; 
              }
            }

            .profile-card {
                width: 100%;
                height: 100%;
                margin: $auto;
                background-color: $color-blanco-cuenta;
                box-shadow: 0px 8px 60px -$pixeles_10 rgba(13, 28, 39, 0.6);
                position: relative;

                &__img {
                    width: $pixeles_150;
                    height: $pixeles_150;
                    margin-left: $auto;
                    margin-right: $auto;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    z-index: 4;
                    background-color: $color-blanco;
                    box-shadow: 0px $pixeles_5 $pixeles_50 0px $color-principal, 0px 0px 0px 7px $color-principal;

                    @media screen and (max-width: 576px) {
                        width: 120px;
                        height: 120px;
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                }

                .fa-user-pen {
                    position: absolute;
                    right: $pixeles_5;
                    top: $pixeles_5;
                    color: $color-principal;
                    font-size: $pixeles_40;
                    cursor: pointer;
                }

                .texto {
                    text-align: $centrar;

                }

                .botones {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: $centrar;
                    margin: 5% 0px 10% 0px;
                    
                    a{
                        margin: $pixeles_10;
                        
                    }
                    
                    .custom-btn {
                        width: 50vh;
                        height: $pixeles_100;
                        border: 2px solid $color-terciario1;
                        font-family: 'Lato', sans-serif;
                        font-size: 5vmin;   
                        background: transparent;
                        color: $color-negro;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        position: relative;
                        display: inline-block;
                        
                        
                    @media screen and (max-width: 390px) {
                        width: 40vh;
                        font-size: 8vmin;  
                    }}

                    .btn-cuenta {
                        font-weight: $pixeles_50;
                        overflow: hidden;
                        transition: all 0.3s ease;
                  
                        &:hover {
                            background: $color-principal ;
                            color: #fff;
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            display: inline-block;
                            top: -180px;
                            left: 0;
                            width: $pixeles_30;
                            height: 100%;
                            background-color: #fff;
                            animation: shiny-btn1 3s ease-in-out infinite;
                        }

                        &:active {
                            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
                                -4px -4px 6px 0 rgba(116, 125, 136, .2),
                                inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
                                inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
                        }
                    }

                    @-webkit-keyframes shiny-btn1 {
                        0% {
                            -webkit-transform: scale(0) rotate(45deg);
                            opacity: 0;
                        }

                        80% {
                            -webkit-transform: scale(0) rotate(45deg);
                            opacity: 0.5;
                        }

                        81% {
                            -webkit-transform: scale(4) rotate(45deg);
                            opacity: 1;
                        }

                        100% {
                            -webkit-transform: scale(50) rotate(45deg);
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .cuentacorriente {
            font-weight: 500;
            right: 0;
            height: 650px;
            width: 105%;
            overflow-x: $auto;
            @media screen and (max-width: 1200px) {
                width: 100%;
                height: 560px;
            }

            .datoscorriente {
                margin: $pixeles_15;
                margin-top:$pixeles_5 ;
                height: 60px;
                width: $auto;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: $pixeles_5 $pixeles_15 $pixeles_5 $pixeles_15;
                align-items: $centrar;
                @include glasscuenta();

                .fa-money-bill-transfer {
                    color: $color-terciario4;
                    text-shadow: -$pixeles_1 0 #000, 0 $pixeles_1 #000, $pixeles_1 0 #000, 0 -$pixeles_1 #000;
                    font-size: x-large;
                    cursor: pointer;
                }

            }
        }
    }
}

.contenedorBoton{
  width: 100%;
  @include flexcenter;

  .botonRegresarMovimientos {
    width: 200px;
    cursor: pointer;
    background-color:$color-terciario1;
    color:$color-blanco;
    inline-size: 160px;
    font-size: 17px;
    font-weight: 600;
    line-height: $pixeles_15;
    padding: 11px 12px;
    text-align: $centrar;
    text-decoration: $vaciar;
    border: $pixeles_1 solid rgb(34 34 34 / 22%);
  }
}


/* TablaMovimientos (Cuenta) */
.tablaMostrar{
  @include flexcenter;
  flex-direction: column;  
}



.reti a, .ingr a, .tran a {text-decoration:$vaciar;transition: color 0.2s ease-out;}
.ingr a {color:$color-secundario;}
.ingr a:hover {color:darken($color-secundario, 20%);}
.reti a {color:$color-terciario1;}
.reti a:hover {color:darken($color-terciario1, 20%);}
.tran a {color:$color-terciario3;}
.tran a:hover {color:darken($color-terciario3, 20%);}

/* Wrapper */
.wrapper {
  width:90%;
  max-width:1250px;
  margin:$pixeles_20 $auto 25px $auto;
  padding:0;
  background:$light-bg;
  color:rgb(255, 255, 255);
  overflow:$auto;
  position:relative;

  .letraBlack{
    color:$color-negro;
  }

  .contenido2{
    max-height: 550px;
    min-height: 450px;
    min-width: 1215px;
    border: $pixeles_1 solid rgba(128, 128, 128, 0.329);
    overflow: $auto;
  }
}

/* Lists */
.rowMov ul {
  margin:0;
  padding:0;
}
.rowMov ul li  {
  margin:0;
  font-size:17px;
  width:20%;
  font-weight:500;
  list-style:$vaciar;
  display:inline-block;
	box-sizing:border-box;
  @media only screen and (max-width:767px) and (min-width:480px) {
    font-size:13px;
  }
  @media only screen and (max-width:479px) {
    font-size:13px;
  }
}

.title ul li {
  padding:$pixeles_15 13px;
}
.rowMov ul li {
  padding:$pixeles_5 $pixeles_10;
}

/* Rows */
.rowMov {
  padding:$pixeles_20 0;
  height:$pixeles_30;
  font-size:0;
  position:relative;
  overflow:hidden;
  transition:all 0.2s ease-out;
  border-top:$pixeles_1 solid darken($light-bg, 100%);
}
.rowMov:hover {
  background-color:lighten($dark-bg, 10%);
  height:65px;
  color:$color-blanco;
}
.title {
  padding:25px 0 $pixeles_5 0;
  height:$pixeles_45;
  font-size:0;
  background-color:$color-terciario1;
  border-left:3px solid lighten($light-bg, 100%);
}

.title:hover {
    height:$pixeles_45;
    background-color:$color-terciario1;
    border-left:3px solid lighten($light-bg, 100%);
  }

.title-hide {
  @media only screen and (max-width:767px) {
    display:$vaciar;
  }
}

.ingr {border-left:3px solid darken($color-secundario, 30%);}
.ingr:hover {border-left:3px solid $color-secundario;}
.reti {border-left:3px solid darken($color-terciario1, 30%)}
.reti:hover {border-left:3px solid $color-terciario1;}
.tran {border-left:3px solid darken($color-terciario3, 30%);}
.tran:hover {border-left:3px solid $color-terciario3;}

/* More content */
ul.more-content li {
  position:relative;
  top:22px;
  font-size:13.$pixeles_5;
  margin:0;
  padding:$pixeles_10 13px;
  display:block;
  height:$pixeles_50;
  width:100%;
  color:darken($text,50%);
  @media only screen and (max-width:767px) {
    font-size:11px;
  }
}

/* Small content */
.small {
  color:darken($text,60%);
  font-size:$pixeles_10;
  padding:0 $pixeles_10;
  margin:0;
  @media only screen and (max-width:767px) {
    display:$vaciar;
  }
}

/* Filtros tabla movimientos (Cuenta)*/
.conjuntoFiltro {
  @include flexcenter;

  .botonEliminarFiltro{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0;  
  }

  .inputGroupTabla {
    background-color: #fff; 
    display: block;
    margin: 38px 3px 0px 3px;
    position: relative;

    label {
      border: $pixeles_1 solid rgba(0, 0, 0, 0.473);
      border-radius: 14px;
      padding: 11px 34px;
      @include flexcenter;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      width: $pixeles_40;

      &:before {
        width: $pixeles_10;
        height: $pixeles_10;
        border-radius: 50%;
        content: '';
        background-color: $color-terciario1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        content: '';
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
        background-color: #fff;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: $pixeles_40;
      height: $pixeles_40;
      order: 1;
      z-index: 2;
      position: absolute;
      right: $pixeles_30;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }
}

/* Media Query (Cuenta) */
@media screen and (max-width:355px) {
  .conjuntoFiltro {
    .inputGroupTabla {
      label {
        font-size: 13px;
        width: 25px; 
      }
    }
  }
  
}