////////////////////////////////
/* Estructura y estilo footer */
////////////////////////////////
 html{
height: 100%;

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
footer{
    margin-top: auto;
    
}
.site-footer {
    margin-top: 3em;
    background-color: $color-fondo-footernav;
    padding: 25px 0 10px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    bottom: 0;

    .container {
        .row {
            @include flexJustify();
            flex-direction: row;
        }

        .row2 {
            @include flexJustify();
            flex-direction: column-reverse;
            text-align: $centrar;
            margin: 40px 50px 0px 50px;
        }


    }

    h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px;
    }

    a {
        color: #737373;

        &:hover {
            color: #3366cc;
            text-decoration: $vaciar;
        }
    }

}

.columnas {
    width: 30%;
    margin: auto;
    margin-top: 10px;
}


//////////////////
/* Links footer */
//////////////////
.footer-links {
    padding-left: 0;
    list-style: $vaciar;

    li {
        display: block;
        padding-left: 10px
    }

    a {
        color: #737373;
        text-decoration: $vaciar;

        &:active,
        &:focus,
        &:hover {
            color: #3366cc;
        }
    }


}

.footer-links.inline li {
    display: inline-block
}

.copyright-text {
    margin: 0;
}

///////////////////////////
/* Iconos redes sociales */
///////////////////////////
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: $vaciar;

    li {
        display: inline-block;
        margin-bottom: 4px;

        a {
            color: #818a91;
            font-size: 16px;
            display: inline-block;
            text-align: $centrar;
            margin: 0px 2px 0px 2px;
            border-radius: 100%;
            padding: 1px;
            -webkit-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear;
        }
    }

    li.title {
        margin-right: 15px;
        text-transform: uppercase;
        color: #96a2b2;
        font-weight: 700;
        font-size: 13px;
    }


}


.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    color: $color-facebook;
    padding: 4px;
}

.social-icons a.twitter:hover {
    color: $color-twitter;
    padding: 4px;
}

.social-icons a.instagram:hover {
    color: $color-instagram;
    padding: 4px;
}

.social-icons a.linkedin:hover {
    color: $color-linkedin;
    padding: 4px;
}

/////////////////
/* Media Query */
////////////////
@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: $centrar;
    }

    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}


@media (max-width:700px) {

    .site-footer {
        margin-top: 100px;

        .container {
            .row {
                flex-direction: column;
            }
        }

        .columnas {
            width: 70%;
            text-align: $centrar;
        }
    }
}