@mixin flexcenter {
    display: flex;
    justify-content: center;
    
}

@mixin bx{
    cursor: pointer;
	background: $color-negro;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: none !important;
    
}

@mixin glass {
	backdrop-filter: blur(5px);
	position: absolute;
	inset: 0;
	padding: 4px; 
	background:linear-gradient(45deg,$color-principal, $color-secundario); 
	-webkit-mask: 
		linear-gradient(#fff 0 0) content-box, 
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
			mask-composite: exclude;
	
}
@mixin glass2 {
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	position: absolute;
	inset: 0;
	border-radius: 25px; 
	padding: 5px; 
	background:linear-gradient(45deg,$color-principal, $color-secundario); 
	-webkit-mask: 
		linear-gradient(#fff 0 0) content-box, 
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
			mask-composite: exclude; 
		
}
@mixin glass3 {
	background: -webkit-linear-gradient( 120deg, #a34ae3db, #51c2cce3);
	box-shadow: 0 4px 30px #2b123c5a;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid #b752ff7a;
	
}
@mixin glassnav {
	background: rgba(255, 255, 255, 0.8);

	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	
}