
/////////CARRUSEL Y CARA DE LA PAGINA///////////
#portada{
    position: relative;
    margin: 0;

    #imagenPortada{
        position: relative;
        img{
            width: 100%;
            opacity: .9;
            aspect-ratio: 4.6/2;
            //object-fit: contain;
        }
    }

    #financia{
        position: absolute;
        right: 50;
        top: 70%;
        background-color: $color-blanco;
        padding: 3%;

        .prueba{
            padding-top: 3%;

            a{
                text-decoration: $vaciar;
                color: skyblue;
                font-weight: bold;
            }
        }
    }

}



/////////QUIENES SOMOS///////////
.quienesSomos{
    @include flexcenter();
    flex-direction: row;
    background-color: $color-blanco;

    justify-content: space-evenly !important; 
    width: 100%;

    .imagenSomos{
        width: 40%;
        @include flexcenter();
        margin-top: 3%;
        margin-bottom: 3%;

        img{
            width: 100%;
            height: 400px;
        }
        iframe{
            width: 100%;
            height: 400px; 
        }
    }

    .contenidoSomos{
        width: 40%;
        @include flexcenter();
        flex-direction: column;
        margin-top: 3%;
        margin-bottom: 3%;
        color: $color-negro;

        h2{
            text-align: $centrar;
            margin-bottom: 10%;
            margin: 3%;
            height: 4%;
        }

        .infoSomos{
            height: 94%;

            p{
                margin: 3%;
            }
        }

    }
}


////CARRUSEL/////
#carrusel {
    width: 80%;
    overflow:hidden;
    height:203px;
    position:relative;
    margin-top: 50px;
    margin-bottom: 20px;
    margin: auto;
    
    .left-arrow {
        position:absolute;
        left:0;
        z-index:1;
        top:80%;
        margin-top:-9px;
        img{
            width: 75px;
            height: 75px;
        }
    }

    .right-arrow {
        position:absolute;
        right:10;
        z-index:1;
        top:80%;
        margin-top:-9px;

        img{
            width: 75px;
            height: 75px;
        }
    }
}

 
.carrusel {
    width: 100%;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 303px;
    margin-right: 5px;
    width: 30%;
    text-align:center;
}
 
.carrusel img {
    cursor:pointer;
}
 
.product {
    border:#CCCCCC 1px solid;
}


 