/* Secion Login (Login)*/
.sectionlogin {
  background: $color-blanco;
  height: 88.3vh;
  width: $auto;
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: $pixeles_40;
    @include glasslogin;
    @media (min-width: 559px){
      width: 400px;
    }

    .error{
      width: 50%;
      color:red;
      margin: $auto;
      text-align: $centrar;
      font-weight: 500;
      font-size: 13px;
      margin-bottom: $pixeles_10;
    }

    h2 {
      margin: 0 0 $pixeles_30;
      padding: 0;
      color: $color-negro;
      text-align: $centrar;
    }

    .inputBox {
      position: relative;

      input {
        width: 100%;
        padding: $pixeles_10 0;
        font-size: 16px;
        color: $color-negro;
        letter-spacing: 2px;
        margin-bottom: $pixeles_30;
        border: $vaciar;
        border-bottom: $pixeles_1 solid $color-negro;
        outline: $vaciar;
        background: transparent;
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        letter-spacing: 2px;
        padding: $pixeles_10 0;
        font-size: 16px;
        color: $color-negro;
        pointer-events: $vaciar;
        transition: 0.5s;
      }
    }
  }
}

/* Inputs (Login) */
.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
  top: -25px;
  left: 0;
  color: $color-negro;
  font-size: 12px;
}

.box input[type="submit"] {
  width: 100%;
  background: transparent;
  border: $vaciar;
  outline: $vaciar;
  color: $color-blanco;
  font-weight: 500;
  background: $color-principal;
  padding: $pixeles_10 $pixeles_20;
  cursor: pointer;
  border-radius: $pixeles_5;
}