

* {
	padding: 0;
	margin: 0;
	
	
}
/* ================= HEADER ================ */

.bx {
	font-size: 2.5rem;
	

}
.container {
	padding: 0 2rem;
	
	
}
body {
	font-family: "Raleway", sans-serif;
}

header {
	position: sticky;
	z-index: 9;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: -webkit-linear-gradient( 120deg, $color-secundario, $color-principal);
	padding: 1rem 2rem;
	
}
.company-logo {/////IMAGEN DEL LOGO
	font-size: 2.5rem;
	background-color: $color-blanco;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	img{
		width: 100%;
		height: 70px;
	}

}
.nav-items {
	display: flex;
	list-style: $vaciar;
	
    }
    .nav-item {
	margin: $nav-item-margin;
}
.nav-link {
	font-size: $nav-link-fontsize;
	letter-spacing: $nav-link-letterspacing;
	position: relative;
	background: $color-blanco;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	&::before {
		content: "";
		background: $color-blanco;
		width: 100%;
		height: 0.05rem;
		position: absolute;
		left: 0;
		bottom: 0;
		transform: scaleX(0);
		transform-origin: bottom right;
		transition: transform 150ms;
	}
	&:hover {
		&::before {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
}
.menu-toggle {
	display: none;
}
.bx-menu {
	@include bx();
}
.bx-x {
	@include bx();

}


/* =============== MEDIA QUERIES ======= */
@media screen and (max-width: 768px) {
	.container {
		padding: 0 1rem;
	}
	header {
		padding: 0.5rem 1rem;
			position: sticky;
	position: -webkit-sticky;
	top: 0; /* required */
	}
	.navbar {
		@include glass3();

		position: absolute;
		top: 5.4rem;
		right: 0;
		width: 50%;
		height: auto;
		display: flex;
		justify-content: center;
		transform: scaleY(0);
		transform-origin: bottom;
		transition: transform 500ms;
		z-index: 1;
	}
	.show-navbar {
		display: flex;
		transform: scaleY(1);
		transform-origin: top;
		transition: transform 300ms;
	}
	.nav-items {
		display: flex;
		flex-direction: column;
	}
	.nav-item {
		margin: 0.5rem 0;
	}
	.menu-toggle {
		display: block;
	}
	.bx-menu {
		display: block !important;
	}
	.show-bx {
		display: block !important;
	}
	.hide-bx {
		display: none !important;
	}
}
@media (min-width: 769px) {
	header {
		padding: 1rem 5rem;
	}
}
