
* {
	padding: 0;
	margin: 0;	
}

body {
	font-family: 'Lato', sans-serif;
}

/* HEADER (NAVBAR)*/
.bx {
	font-size: 2.5rem;
}
.container {
	padding: 0 2rem;		
}

header {
	position: sticky;
	z-index: 99;
	top: 0;
	display: flex;
	align-items: $centrar;
	justify-content: space-between;
	background: -webkit-linear-gradient( 120deg, $color-blanco, $color-blanco);
	@include glassnav();

	
}

/* Imagen Logo (NAVBAR) */
.company-logo {
	background-color: $color-negro;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	img{
		width: 7vh;
	}

}
.nav-items {
	display: flex;
	list-style: $vaciar;
	
    }
    .nav-item {
	margin: $nav-item-margin;
}
.nav-link {
	font-size: $nav-link-fontsize;
	letter-spacing: $nav-link-letterspacing;
	position: relative;
	background: $color-negro;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	&::before {
		content: "";
		background: $color-negro;
		width: 100%;
		height: 0.05rem;
		position: absolute;
		left: 0;
		bottom: 0;
		transform: scaleX(0);
		transform-origin: bottom right;
		transition: transform 150ms;
	}
	&:hover {
		background-color:$color-principal;
		&::before {
			background-color:$color-principal;
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
}
.menu-toggle {
	display: $vaciar;
}
.bx-menu {
	@include bx();
}
.bx-x {
	@include bx();
}


/* MEDIA QUERY(NAVBAR) */
@media screen and (max-width: 768px) {
	.navbar {
		@include glassnav();
		position: absolute;
		top: 3.4rem;
		right: 0;
		width: $pixeles_150;
		height: $auto;
		@include flexcenter;
		transform: scaleY(0);
		transform-origin: bottom;
		transition: transform 500ms;
		z-index: 1;
	}
	.show-navbar {
		display: flex;
		transform: scaleY(1);
		transform-origin: top;
		transition: transform 300ms;
	}
	.nav-items {
		display: flex;
		flex-direction: column;
	}
	.nav-item {
		margin: 0.5rem 0;
	}
	.menu-toggle {
		display: block;
	}
	.bx-menu {
		display: block !important;
	}
	.show-bx {
		display: block !important;
	}
	.hide-bx {
		display: $vaciar !important;
	}
}
@media (min-width: 769px) {
	header {
		padding: $header-padding;
	}
}
