.botonRegresar {
    width: 100px;
    height: 10px;
    position: absolute;
    top: 100px;
    left: 10px;


}

@media (max-width: 400px) {
    .botonRegresar {
        width: 70px;
        input{
            content: "Atrás";
        }
    }
}

.tablasDeCuentas {
    width: 95%;
    padding-top: 10px;
    @include flexJustify();
    flex-direction: column;
    text-align: $centrar;
    margin: auto;

    @media screen and (max-width: 576px) {
        padding: 0;
    }

    h2 {
        color: purple;
        padding: 10px;
    }

    .contenidoTabla {
        padding-top: 20px;
        overflow-x: scroll;
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;

        .tarjetitas {
            position: relative;
            margin: 5px;
            backdrop-filter: blur(5px);


            table {
                .colum2 {
                    width: 211px;
                    height: 25px;
                    padding: 5px;
                    background-color: rgba(39, 39, 39, 0.2);

                }

                .colum1 {
                    width: 170px;
                    height: 25px;
                    padding: 5px;
                    background-color: rgba(39, 39, 39, 0.2);
                }
            }


            a {
                text-decoration: $vaciar;
            }
        }

    }
}

.contenderDNI {
    @include flexcenter();
    flex-direction: column;
    justify-content: $centrar;
    margin: auto;
    width: 90%;

    h2 {
        color: purple;
    }

    #FiltrarPorDNINoPersonales {
        width: 15%;
        margin: auto;

    }
}


@media (max-width: 600px) {
    .contenderDNI {
        #FiltrarPorDNINoPersonales {
            width: 90%;

        }
    }
}


#infomarcionNecesaria {

    width: 81%;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1;
    grid-template-areas: 2;
    grid-gap: 5px;
    margin: auto;

}

.tiposDeErrores {
    text-align: center;
    color: red;
}

.tiposDeErroresIz {
    color: red;
}