
/* Tabla cuentas (Transferencia) */
.tablasDeCuentas {
    width: 95%;
    padding-top: $pixeles_10;
    @include flexJustify();
    flex-direction: column;
    text-align: $centrar;
    margin: $auto;

    @media screen and (max-width: 576px) {
        padding: 0;
    }

    h2 {
        color: $color-terciario1;
        padding: $pixeles_10;
    }

    .contenidoTabla {
        padding-top: $pixeles_20;
        overflow-x: scroll;
        border: $pixeles_1 solid rgba(255, 255, 255, 0.3);
        display: flex;

        .tarjetitas {
            position: relative;
            margin: $pixeles_5;
            backdrop-filter: blur($pixeles_5);

            table {
                .colum2 {
                    width: 211px;
                    height: 25px;
                    padding: $pixeles_5;
                    background-color: rgba(39, 39, 39, 0.2);

                }

                .colum1 {
                    width: 170px;
                    height: 25px;
                    padding: $pixeles_5;
                    background-color: rgba(39, 39, 39, 0.2);
                }
            }


            a {
                text-decoration: $vaciar;
            }
        }

    }
}

/* Contenedor DNI (Transferencia) */
.contenderDNI {
    @include flexcenter();
    flex-direction: column;
    justify-content: $centrar;
    margin: $auto;
    width: 90%;

    h2 {
        color: $color-terciario1;
    }

    #FiltrarPorDNINoPersonales {
        width: 15%;
        margin: $auto;
    }
}


/* Mensajes Error (Transferencia) */
#infomarcionNecesaria {
    width: 81%;
    padding-top: $pixeles_10;
    display: grid;
    grid-template-columns: 1;
    grid-template-areas: 2;
    grid-gap: $pixeles_5;
    margin: $auto;

}

.tiposDeErrores {
    text-align: $centrar;
    color: red;
}

.tiposDeErroresIz {
    color: red;
}


/* Media Query (Transferencia) */
@media (max-width: 600px) {
    .contenderDNI {
        #FiltrarPorDNINoPersonales {
            width: 90%;
        }
    }
}