
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  background: $color-blanco;
  font-family: 'Lato', sans-serif;
}

/* Seccion cuentas de los usuarios (Usuarios/Admin)*/
section {
  padding: $pixeles_40 140px $pixeles_40 140px;
  @include flexcenter();
  flex-direction: column;

  /* Crear y buscador de usuarios */
  .utilidadesAdmin{
    display: flex;
    width: 99%;
    justify-content: space-between;
    align-items: $centrar;
    flex-direction: row;
    margin-bottom: $pixeles_5;

    .search-box{
      width: fit-content;
      height: fit-content;
      position: relative;

      .input-search{
        height: $pixeles_45;
        width: $pixeles_45;
        border-style: $vaciar;
        padding: $pixeles_10;
        font-size: 17px;
        outline: $vaciar;
        transition: all .5s ease-in-out;
        background-color: transparent;
        padding-right: $pixeles_40;
        color:rgb(0, 0, 0);
      }
      .input-search::placeholder{
        color:rgba($color-negro,.5);
        font-size: $pixeles_15;
        letter-spacing: 2px;
        font-weight: 100;
      }
      .btn-search{
        width: $pixeles_50;
        height: $pixeles_50;
        border-style: $vaciar;
        font-size: $pixeles_20;
        font-weight: bold;
        outline: $vaciar;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: $color-negro ;
        background-color:transparent;
        pointer-events: painted;  
      }

      .btn-search:focus ~ .input-search{
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:$pixeles_1 solid rgba(0, 0, 0, 0.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
      .input-search:focus{
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:$pixeles_1 solid rgba(0, 0, 0, 0.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
    }   
  }

  .tbl-content {
    height: 38em;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;

    .tarjetas {
      background-color: #4c3fff8e;
      height: 320px;
      width: 346px;
      position: relative;
      margin: $pixeles_5;
      border: $pixeles_1 solid rgba(0, 0, 0, 0.459);

      table {
        width: 100%;
        height: 100%;
      }

      .columna2 {
        color: $color-blanco;
        padding: $pixeles_5;
        font-weight: 500;
        background-color: rgba(39, 39, 39, 0.2);

      }

      .columna1 {
        color: $color-blanco;
        padding: $pixeles_5;
        font-weight: 700;
        background-color: rgba(39, 39, 39, 0.2);
      }
    }

  }
}

.cuenta{
  color:$color-blanco;
  font-weight: 400;
}

/*Iconos (Usuarios/Admin)*/
.icono:hover{
  cursor: pointer;
}

.info{
  text-decoration: underline;
}

/* Reset input (Usuarios/Admin) */
.form__field{
  &:required,&:invalid { box-shadow:$vaciar; }

}
.for_option *{
  color: $color-negro;
}

/* Media Query (Usuarios/Admin)*/
@media screen and (max-width: 1360px) {
  
  section{
    width: 727px;
    margin: $auto;
  }
}

@media screen and (max-width: 1007px) {
  section{
    padding: 0px;
    width: $auto;
    .utilidadesAdmin{
      flex-direction: column-reverse;

      .button-23{
        margin: 0px;
        font-size: 13px;
        width: 147px;
      }

      .search-box{
        margin-bottom: $pixeles_5;

        .btn-search:focus ~ .input-search{
          width: 240px;
        }
        .input-search:focus{
          width: 240px;
        }
      }
    }

    .tbl-content {
      width: 360px;
      .tarjetas {
        width: 350px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  section{
    .tbl-content {
      width: 310px;
      .tarjetas {
        width: 300px;
      }
    }
  }
}