//////COLORES///////
$color-principal: #B57EDC;  
$color-secundario: #7ED4DC;
$color-terciario1: #a34ae3;
$color-terciario2: #51c2cc;


/////MEDIDAS POR PIXELES/////


/////MEDIDAS POR PORCENTAJES////




///////VACIOS O SIMPLES//////
$centrar: center;
$auto: auto;
$vaciar: none;