//////COLORES///////
$color-principal: #B57EDC;  
$color-secundario: #7ED4DC;
$color-terciario1: #a34ae3;
$color-terciario2: #51c2cc;
$color-terciario3:rgb(196, 140, 236);

$color-blanco:#fbfbfb;
$color-blanco2: rgb(249, 218, 249);

$color-negro:black;

/////MEDIDAS POR PIXELES/////


/////MEDIDAS POR PORCENTAJES////




////MEDIDAS REM-EM////
$header-padding:1rem 2rem;
$nav-item-margin:0 2rem;
$nav-link-fontsize: 1.1rem;
$nav-link-letterspacing: 0.05rem;

///////VACIOS O SIMPLES//////
$centrar: center;
$auto: auto;
$vaciar: none;