/*COLORES*/
$color-principal: #B57EDC;  
$color-principal-oscuro: #532e6d;  
$color-secundario: #7ED4DC;
$color-terciario1: #a34ae3;
$color-terciario2: #51c2cc;
$color-terciario3:rgb(208, 151, 248);
$color-terciario4:#ab5fe0;
$color-fondo-footernav: #26272b;

$color-blanco:#fbfbfb;
$color-blanco2: rgb(249, 218, 249);
$color-blanco-cuenta:#fbfbfbb5;


$color-negro:black;

$color-twitter: #00aced;  
$color-facebook: #3b5998;  
$color-instagram: #e4405f;
$color-linkedin: #007bb6;

/* Colores tabla movimientos */
$blue:rgba(79,192,210,1);
$green:rgba(82,210,154,1);
$yellow:rgba(231,196,104,0.7);
$orange:rgba(235,118,85,1);
$dark-bg:rgba(0,0,0,0.9);
$light-bg:rgba(255,255,255,0.1);
$text:rgba(255,255,255,0.9);

/*MEDIDAS POR PIXELES*/


/*MEDIDAS POR PORCENTAJES*/




/*MEDIDAS REM-EM*/
$header-padding:0rem 2rem;
$nav-item-margin:0 2rem;
$nav-link-fontsize: 1rem;
$nav-link-letterspacing: 0.05rem;

///////VACIOS O SIMPLES//////
$centrar: center;
$auto: auto;
$vaciar: none;