@import "https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
* {
  padding: 0;
  margin: 0;
}

/* ================= HEADER ================ */
.bx {
  font-size: 2.5rem;
}

.container {
  padding: 0 2rem;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: #fbfbfb;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: -webkit-linear-gradient(120deg, #7ED4DC, #B57EDC);
  padding: 1rem 2rem;
}

.company-logo {
  font-size: 2.5rem;
  background-color: #fbfbfb;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}
.company-logo img {
  width: 30%;
  height: 80px;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 0 2rem;
}

.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: #fbfbfb;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: #fbfbfb;
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-toggle {
  display: none;
}

.bx-menu {
  cursor: pointer;
  background: -webkit-linear-gradient(120deg, #7ED4DC, #B57EDC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(120deg, #7ED4DC, #B57EDC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

/* =============== MEDIA QUERIES ======= */
@media screen and (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: black;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }
}
@media (min-width: 769px) {
  header {
    padding: 1rem 5rem;
  }
}
section {
  padding: 50px;
}
section .tbl-content {
  height: 80vh;
  width: 100%;
  overflow-x: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-wrap: wrap;
}
section .tbl-content .tarjetas {
  position: relative;
  margin: 5px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 35px 35px 68px 0px rgba(181, 126, 220, 0.5), inset -8px -8px 16px 0px rgba(181, 126, 220, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}
section .tbl-content .tarjetas .columna2 {
  color: white;
  width: 100px;
  height: 25px;
  padding: 5px;
}
section .tbl-content .tarjetas .columna1 {
  color: white;
  width: 130px;
  height: 25px;
  padding: 5px;
}

/* demo styles */
body {
  background: linear-gradient(to right, #B57EDC, #7ED4DC);
  font-family: "Roboto", sans-serif;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=style_usuarios.css.map */