@import "https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400";
@import "_variables";
@import "_funcion";
@import "_nav";
@import "_index";
@import "_footer";




.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
  top: -25px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}


@media (min-width: 350px) {

  input[type=text],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=button]:hover {
    background-color: #45a049;
    width: 100%;
  }

  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    text-align: $centrar;
  }
}

@media (min-width: 950px) {
  .form {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    grid-gap: 10px;
    margin: 5px;
    padding: 30px;


    .triplete1 {
      grid-column-start: 1;
      grid-column-end: 2;

      div {
        margin-top: 30px;
      }
    }

    .triplete2 {
      grid-column-start: 2;
      grid-column-end: 3;

      div {
        margin-top: 30px;
      }
    }

    .triplete3 {
      grid-column-start: 3;
      grid-column-end: 4;

      div {
        margin-top: 30px;
      }
    }

    #botonCalcular {
      grid-column-start: 2;
      grid-column-end: 3;
      margin-top: 70px;
    }
  }
}